.d-flex {
  display: flex !important;
}
.d-inline-block {
  display: inline-block !important;
}
d-grid {
  display: grid !important;
}
.content-center {
  justify-content: center !important;
}
.content-around {
  justify-content: space-around !important;
}
.item-center {
  align-items: center !important;
}
.form * {
  display: block;
}
.error {
  color: red;
  margin-top: 0.3em;
  visibility: hidden;
}